body {
  padding: 100px 100px;
  background-color: #121212;
  text-align: center;
  color: #ffffff;
}

h2 {
  margin-bottom: 15px;
}

button.green {
  background-color: #77dd77;
  font-weight: 300;
  font-size:20px;
  margin: 10px ;
  padding: 10px 10px;
  border-radius:10px;
  color: white;
  cursor: pointer;
}

button.red{
  background-color: #ff6961;
  font-weight: 300;
  font-size:20px;
  margin: 10px ;
  padding: 10px 10px;
  border-radius:10px;
  color: white;
  cursor: pointer
}